<div class="container mt-4"></div>
<% putnici.forEach(function(putnik) { %>
<div class="card mt-4" id="card-<%= putnik.id %>">
    <div class="card-body">
      <h5 class="card-title"> Email: <%=putnik.Email%> </h5>
      <p class="card-text">
        Ime: <%=putnik.ime%>
       </p>
       <p class="card-text">
        Prezime: <%=putnik.prezime%>
       </p>
       <p class="card-text">
        Broj_telefona: <%=putnik.broj_telefona%>
       </p>
       <p class="card-text">
        Prebivaliste: <%=putnik.prebivaliste%>
       </p>
      <p class="card-text">
        Password: <%=putnik.Password%>
       </p>
      
       <div class="btn-group" role="group" aria-label="Actions">
       <form class="form-inline" action="/izmeni-putnika/<%= putnik.id %>" method="POST">
        <button class="btn btn-outline-success" type="submit">Измени корисника</button>
      </form>

      <form class="form-inline" action="/obrisi-putnika/<%= putnik.id %>" method="POST">
        <button class="btn btn-outline-success" type="submit">Обриши корисника</button>
      </form>
       </div>
    </div>
</div>
<% }) %>
</div>